<!DOCTYPE html>
<html lang="pt-BR ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovem</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <span class="logo">Escola jovem <span>.</span></span>
            <div id="navbar">
                <nav>
                    <ul>
                        <li><a href="#">Projetos</a></li>
                        <li><a href="#">Filosofia</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Direção</a></li>
                        <li><a href="#">Formandos</a></li>
                        <li><a href="#">Professores</a></li>
                    </ul>
                    <div class="selector-area">
                        <!-- Seletor ano -->
                        <span id="input-select" class="input-select">2017 <span><img src="../assets/seta-select.svg"
                                    alt="seta"></span></span>
                        <!-- TODO: ESTILIZAR OPÇÕES -->
                        <div id="btn-options" class="hide">
                            <ul>
                                <li>2020</li>
                                <li>2017</li>
                                <li>2011</li>
                                <li>2013</li>
                            </ul>
                </nav>
            </div>
    </div>
    </div>


    <div id="containerProfessor">
        <div class="profLeft">
            <h1 class="profTitle">Professores</h1>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img src="../assets/setaprofessores.svg">
            </div>
            <div class="profInfo">
                <p class="profNome">Prof. Carlos Roberto dos Santos</p>
                <p class="profMateria">Geografia</p>
                <img clas="profSeta" src="../assets/setaprofessores.svg">
            </div>
        </div>

        <div class="profRight">
            <div class="profHeader">
                <img class="profImagem" src="../assets/profImg.svg">
                <p class="profSubtitulo">Profª Natacha Paula Bairros</p>
            </div>
            <div class="profFormacao">
                <h4 class="formacaoTitulo">Formação:</h4>
                <p class="descricaoFormacao">Universidade Federal de Santa Catarina, Licenciatura em matemática -
                    2007</p>
                <p class="descricaoFormacao">Especialização em Ensino de Matemática para o Ensino Médio - 2014 </p>
            </div>
            <div class="profContato">
                <h4 class="contatoTitulo">Contatos:</h4>
                <p class="descricaoContato">natpaulabairros@gmail.com</p>
            </div>
        </div>
    </div>

    <script src="../js/selectBtn.js"></script>
</body>

</html>